[Desktop Entry]
Name=Year Progress
Comment=Check the year progress
Exec=year-progress
Icon=${SNAP}/meta/gui/year-progress.svg
Terminal=false
Type=Application
Categories=Utility;TimeTools;
StartupWMClass=year-progress
